{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 hero-container">
                <h1 class="hero-text text-dark text-center animate__animated animate__fadeInUp animate__delay-1s">
                    <i>Sneak'r 
                    Heads </i>
                </h1>
                    <div class="my-5">
                        <h4 class="text-center">
                            <a href="" class="shop-now-btn rounded-pill btn bg-info box-shadow text-uppercase p-2">
                                View Products
                            </a>
                        </h4>
                    </div>
            </div>
            
        </div>
    </div>
{% endblock %}