{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="row">
        <div class="col-12 hero-container">
            <h1 class="logo-font text-dark text-center animate__animated animate__fadeInUp animate__delay-1s">
                <i>Sneak'r 
                Heads </i>
            </h1>
            <div class="my-5">
                <h4 class="text-center">
                    <a href="{% url 'products' %}?sort=stock&direction=desc" 
                    class="shop-now-btn rounded-pill btn text-light btn-main bg-dark box-shadow text-uppercase p-2">
                        View Products
                    </a>
                </h4>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <!-- New Arrivals -->
    <div class="container-fluid w-100 mb-0">
        <section>
            <div class="row">
                <div class="col-12 bg-white new-arrivals">
                    <div class="container">
                        <div class="d-flex">
                            <h1 class="text-dark pt-5 flex-grow-1">New Arrivals.</h1>
                        </div>
                        <!-- Featured Products -->
                        <div class="products-wrapper d-flex flex-wrap">
                            <div class="cards justify-content-between text-center">
                                {% for product in new_arrivals %}                                    
                                    {% include 'includes/products-card.html' %}                                   
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% include 'includes/horizontal-scroll.html' %}    
{% endblock %}

{% block postloadjs %}
{% endblock %}