{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="row h-100">
        <div class="col-12 hero-container">
            <h1 class="logo-font text-dark text-center animate__animated animate__fadeInUp animate__delay-1s">
                <i>Sneak'r 
                Heads </i>
            </h1>
                <div class="my-5">
                    <h4 class="text-center">
                        <a href="{% url 'products' %}" class="shop-now-btn rounded-pill btn text-light btn-main bg-info box-shadow text-uppercase p-2">
                            View Products
                        </a>
                    </h4>
                </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <!-- Best Sellers -->
    <div class="container-fluid w-100 mb-0">
        <section>
            <div class="row">
                <div class="col-12 bg-white best-sellers">
                    <div class="container">
                        <div class="d-flex">
                            <h1 class="text-dark pt-5 flex-grow-1">Best Sellers.</h1>
                        </div>
                        <!-- Products -->
                        <div class="products-wrapper d-flex flex-wrap">
                            <div class="cards text-center">
                                <div class="card" style="width: 18rem;">
                                    <img src="media/header-main.jpeg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and
                                            make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>

                                <div class="card" style="width: 18rem;">
                                    <img src="media/header-main.jpeg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and
                                            make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>

                                <div class="card" style="width: 18rem;">
                                    <img src="media/header-main.jpeg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and
                                            make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>

                                <div class="card" style="width: 18rem;">
                                    <img src="media/header-main.jpeg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and
                                            make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>

                                <div class="card" style="width: 18rem;">
                                    <img src="media/header-main.jpeg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and
                                            make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>

                                <div class="card" style="width: 18rem;">
                                    <img src="media/header-main.jpeg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and
                                            make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% include 'includes/horizontal-scroll.html' %}
    <!-- Categories Grid -->
    <div class="container-fluid w-100 mb-0">
        <section>
            <div class="row">
                <div class="col-12 bg-white collection-grid">
                    <div class="container">
                        <div class="d-flex">
                            <h1 class="text-dark pt-5 flex-grow-1">Our collections.</h1>
                        </div>
                        <!-- Grid -->
                        <div class="row">
                            <div class="col-lg-7 col-sm-12 text-center">
                                <div class="row">
                                    <div class="col-lg-8 border border-white overflow-hidden">
                                        <div class="grid-image">
                                            <a href="#" class="pe-auto">
                                                <img class="grid-image-big" src="media/bg-image.jpeg" alt="">
                                                <div class="overlay-big">
                                                    <div class="overlay-text">Hello.</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 border border-white overflow-hidden">
                                        <div class="grid-image">
                                            <a href="#" class="pe-auto">
                                                <img class="grid-image-small" src="media/bg-image.jpeg" alt="">
                                                <div class="overlay">
                                                    <div class="overlay-text">Hello.</div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 pt-2 border border-white overflow-hidden w-100">
                                                <div class="grid-image">
                                                    <a href="#" class="pe-auto">
                                                        <img class="grid-image-small" src="media/bg-image.jpeg" alt="">
                                                        <div class="overlay">
                                                            <div class="overlay-text">Hello.</div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 pt-2 border border-white overflow-hidden">
                                        <div class="grid-image">
                                            <a href="#" class="pe-auto">
                                                <img class="grid-image-small" src="media/bg-image.jpeg" alt="">
                                                <div class="overlay">
                                                    <div class="overlay-text">Hello.</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 pt-2 border border-white overflow-hidden">
                                        <div class="grid-image">
                                            <a href="#" class="pe-auto">
                                                <img class="grid-image-small" src="media/bg-image.jpeg" alt="">
                                                <div class="overlay">
                                                    <div class="overlay-text">Hello.</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 pt-2 border border-white overflow-hidden">
                                        <div class="grid-image">
                                            <a href="#" class="pe-auto">
                                                <img class="grid-image-small" src="media/bg-image.jpeg" alt="">
                                                <div class="overlay">
                                                    <div class="overlay-text">Hello.</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-sm-12 text-center">
                                <div class="row">
                                    <div class="col-6 border border-white overflow-hidden">
                                        <div class="grid-image">
                                            <a href="#" class="pe-auto">
                                                <img class="grid-image-small" src="media/bg-image.jpeg" alt="">
                                                <div class="overlay">
                                                    <div class="overlay-text">Hello.</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-6 border border-white overflow-hidden">
                                        <div class="grid-image">
                                            <a href="#" class="pe-auto">
                                                <img class="grid-image-small" src="media/bg-image.jpeg" alt="">
                                                <div class="overlay">
                                                    <div class="overlay-text">Hello.</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 pt-2 border border-white overflow-hidden">
                                        <div class="grid-image">
                                            <a href="#" class="pe-auto">
                                                <img class="grid-image-big" src="media/bg-image.jpeg" alt="">
                                                <div class="overlay-big">
                                                    <div class="overlay-text">Hello.</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- View Products CTA -->
                        <div class="row">
                            <div class="col-12">
                                <h4 class="text-center">
                                    <a href="#" 
                                    style="margin-top: 3rem;"
                                    class="rounded-pill btn btn-main bg-dark text-light box-shadow text-uppercase px-3">
                                        View Products
                                    </a>
                                </h4>
                            </div>
                        </div>
                        <!-- End of Grid -->
                    </div>
                </div>
            </div>
        </section>
    </div>        
{% endblock %}

{% block postloadjs %}
{% endblock %}