{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="header-padding w-100">
        <div class="row g-0">
            <div class="col mx-5">
                <h1 class="heading-font text-dark mt-3 pt-5 mx-5">
                    My Profile.
                </h1>
                <hr class="text-secondary">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="secondary-overlay"></div>
    <div class="container-fluid">
        <div class="row">
            {{ profile }}
        </div>
    </div>
{% endblock %} 