{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block page_header %}
    <div class="header-padding w-100">
        <div class="row g-0">
            <div class="col mx-5">
                <h1 class="heading-font text-dark mt-3 pt-5 mx-5">
                    Shopping Basket.
                </h1>
                <hr class="text-secondary">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="secondary-overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col" style="min-height: 40vh;">
                <!-- Table to display items in basket -->
                {% if basket_items %}
                <table class="table table-sm table-borderless">

                    <!-- Headings -->
                    <thead class="text-black">
                        <tr>
                            <th scope="col">Product Info</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>

                    <!-- Basket Item Details -->
                    {% for item in basket_items %}
                        <tr>
                            <td class="py-3 w-25">
                                <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                            </td>
                            <td class="py-3">
                                <p class="my-0 fs-5 fw-normal text-dark">{{ item.product.name }}</p>
                                <p class="my-0 fs-5 fw-normal">Size: {% if item.product.has_sizes %}{{ item.size }}{% else %}N/A{% endif %}</p>
                                <p class="my-0 fs-6 text-muted">SKU: {{ item.product.sku|upper }}</p>
                            </td>
                            <td class="py-3">
                                <p class="my-0">${{ item.product.price }}</p>
                            </td>
                            <td class="py-3 w-25">
                                <form class="form update-form" method="POST" action="{% url 'adjust_basket' item.item_id %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn btn-sm btn-dark rounded-left" 
                                                    data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                    <span>
                                                        <i class="fas fa-minus fa-sm"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <input class="form-control form-control-sm qty_input" type="number"
                                                name="quantity" value="{{ item.quantity }}" min="1" max="20"
                                                data-item_id="{{ item.item_id }}"
                                                id="id_qty_{{ item.item_id }}">
                                            <div class="input-group-append">
                                                <button class="increment-qty btn btn-sm btn-dark rounded-right"
                                                    data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                    <span>
                                                        <i class="fas fa-plus fa-sm"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            {% if item.product.has_sizes %}
                                                <input type="hidden" name="product_size" value="{{ item.size }}">
                                            {% endif %}
                                        </div>
                                    </div>
                                </form>
                                <a class="update-link text-info text-decoration-none ps-2"><small>Update</small></a>
                                <a class="remove-item text-danger float-end text-decoration-none pe-2" 
                                    id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}">
                                    <small>Remove</small></a>
                            </td>
                            <td class="py-3">
                                <p class="my-0">${{ item.product.price | calc_subtotal:item.quantity  }}</p>
                            </td>
                        </tr>
                    {% endfor %}

                    <!-- Charges -->
                    <tr class="text-lg-end">
                        <td colspan="5" class="pt-5">
                            <p class="fs-5 mb-0">Basket: ${{ total|floatformat:2 }}</p>
                            <p class="fs-5 mb-0">Delivery: ${{ delivery|floatformat:2 }}</p>
                            <p class="mt fw-normal fs-5 pb-0 mb-0">Grand Total: 
                                <span class="fw-normal">${{ grand_total|floatformat:2 }}</span>
                            </p>
                            {% if free_delivery_delta > 0 %}
                                <p class="mb-1 text-dark">
                                    You could get free delivery by spending just ${{ free_delivery_delta }} more!
                                </p>
                            {% endif %}
                        </td>
                    </tr>

                    <!-- Action Buttons -->
                    <tr class="text-lg-end text-center">
                        <td colspan="5" class="bottom-0 end-0">
                            <a href="{% url 'products' %}" class="btn btn-outline-dark rounded-pill btn-md">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <a href="{% url 'checkout' %}"  class="btn btn-success rounded-pill btn-md">
                                <span class="text-uppercase">Secure Checkout</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>

            {% else %}
            <p class="lead mb-5">Your basket is empty.</p>
            <a href="{% url 'products' %}" class="btn rounded-0 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            {% endif %}

            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}   
    {% include 'products/includes/quantity_input_script.html' %}

    <script type="text/javascript">
        // Update quantity on click
        $('.update-link').click(function(e) {
            var form = $(this).prev('.update-form');
            form.submit();
        })

        // Remove item and reload on click
        $('.remove-item').click(function(e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('remove_')[1];
            var size = $(this).data('product_size');
            var url = `/basket/remove/${itemId}/`;
            var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

            $.post(url, data)
            .done(function() {
                location.reload();
            });
        })
    </script>
{% endblock %}