{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="header-padding w-100">
        <div class="row g-0">
            <div class="col mx-5">
                <h1 class="heading-font text-dark mt-3 pt-3 mx-5">
                    Shopping Basket.
                </h1>
                <hr class="text-secondary">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="secondary-overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                {% if basket_items %}
                    <div class="table-responsive rounded"></div>
                {% else %}
                    <p class="lead mb-5">Your basket is empty.</p>
                    <a href="{% url 'products' %}" class="btn rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% endblock %}