@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Permanent+Marker&display=swap');

html {
    height: 100%;
}

body {
    background: url('/media/header-3.jpg') no-repeat top center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #000;
    font-family: 'Prompt', sans-serif;
    overflow-x: hidden;
}

p {
    font-weight: 300;
}

/* Dividers from Wrenna: https://fpvision.herokuapp.com/ */
.divider {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase;
    color: #7a7a7a;
    font-size: .75rem;
    font-weight: 600;
    letter-spacing: .5px;
    margin: 25px 0;
}

.divider::after, .divider::before {
    content: '';
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 1px;
    background-color: #dbdbdb;
}

.divider:not(.is-left)::before {
    margin-right: 10px;
}

.divider:not(.is-right)::after {
    margin-left: 10px;
}

.hero-container {
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%,-30%);
    transform: translate(-50%,-30%);
    font-size: 5rem;
}

.heading-font,
.logo-font {
    position: relative;
    bottom: 1rem;
    font-size: 6rem;
    font-family: 'Permanent Marker', sans-serif;
}

.heading-font {
    font-size: 2.5rem;
    font-weight: 500;
    font-family: 'Prompt', sans-serif;
}

.title-font {
    font-size: 1.3rem;
    font-weight: 500;
}

.box-shadow {
    box-shadow: 0px 8px 15px rgb(0 0 0 / 30%);
}

.box-shadow-light {
    box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
}

.box-shadow-very-light {
    box-shadow: 0px 8px 15px rgb(0 0 0 / 5%);
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
}

.text-shadow-blue {
    text-shadow: 3px 3px 3px rgba(25, 181, 254, 1);
}

.rounded-right {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.rounded-left {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

/* Hover Animation Code from: https://github.com/IanLunn/Hover/blob/master/css/hover.css */

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: black;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, 
.hvr-underline-from-center:focus:before, 
.hvr-underline-from-center:active:before {
    left: 20%;
    right: 20%;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.fas.fa-search:hover {
    color: white !important;
}

#button-addon2 {
    width: 70px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background: white;
    border: 1px solid #dee2e6!important;
    border-left: hidden;
}

#button-addon2:hover {
    background: #20c997!important;
    color: white !important; 
}

#product-options p {
    font-family: "Prompt", sans-serif;
    font-weight: 500;
}

.product-search {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.products.dropdown-menu.show {
    width: 65vw !important; 
    background-color: white !important;
    writing-mode: horizontal-tb;
    border-block-start: 2px solid grey;
    box-shadow: 0px 8px 15px rgb(0 0 0 / 30%);
}

.user-options.dropdown-menu.show,
.navbar-nav {
    border-block-start: 2px solid grey;
    box-shadow: 0px 8px 15px rgb(0 0 0 / 30%);
}

.dropdown-item {
    color: #6c757d;
}

/* Rotate Code: https://codepen.io/rezk/pen/PegNRY */
.rotate {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .2s linear;
}
.rotate.down {
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}

.main-logo-link {
    width: fit-content;
    text-decoration: none;
}

.navbar-toggler {
    padding: 0.25rem 0.25rem;
}

.navbar-nav {
    overflow-x: hidden;
    height: 100vh;
}

.shop-now-btn {
    position: relative;
    bottom: 3rem;
    color: white;
    min-width: 200px;
}

.btn-main:hover {
    background: #fff !important;
    color: #000 !important;
}

.btn-success,
.btn-info:hover,
.btn-black:hover {
    background: #20c997 !important;
}

.btn-success:hover {
    background: green !important;
}

.btn-black {
    background: black;
    color: white;
}

.bg-white {
    color:white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.border-black {
    border: 1px solid black !important;
}

.border-black {
    border: white !important;
}

.rounded-circle {
    height: auto;
    width: 39px;
}

.featured .card {
    margin: 0 10px;
}

.card {
    display: inline-block;
}

.card img {
    height: 150px;
    width: 100vw;
    object-fit: cover;
}

.card:hover {
    cursor: pointer;
}

.btt-button {
    height: 52px;
    width: 52px;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.text-tomato {
    color: tomato;
}

.bg-tomato {
    background: tomato !important;
}

.text-success {
    color: #20c997 !important;
}

.bg-success {
    background: #20c997 !important;
}

.hover-success:hover {
    color: #20c997 !important;
}

/*===== Home =====*/
.products-wrapper .cards{
    /* width: 50vh; */
}

/*===== Toasts =====*/

.message-container {
    position: fixed;
    top: 55px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 133px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #20c997 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.basket-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/*===== Products =====*/

.header-padding {
    padding-top: 100px;
}

.secondary-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.products-row,
.product-row {
    padding-bottom: 7rem;
}

.sort-wrapper {
    margin-left: 1rem;
}

/*===== Product Details =====*/

.product-details-container {
    padding-left: 5rem;
}

/*===== New Arrivals =====*/

.new-arrivals {
    margin-top: 100vh; 
    padding: 3rem 0 6rem 0;
}

.new-arrivals .card {
    margin: 20px 20px !important;
}

/*===== Horizontal Scroll =====*/

.horizontal-scroll {
    padding-bottom: 7rem;
    overflow-x: auto;
}

#scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    flex-direction: row;
}

#scrolling-wrapper {
    -webkit-overflow-scrolling: touch;
}

#scrolling-wrapper .card-horizontal {
    min-width: 220px;
}

.card:hover {
    box-shadow: 0px 8px 15px rgb(0 0 0 / 15%);
    border: 0;
}

#next-btn, #prev-btn {
    height: 48px;
    width: 50px;
}

/*===== Collection Grid =====*/

.collection-grid {
    position: relative;
    padding-bottom: 7rem;
    box-sizing: border-box;
}

.overlay,
.overlay-big {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    width: 220px;
    opacity: 0;
    transition: .5s ease;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 1)
        );
}

.overlay-big {
    width: 450px;
}

.overlay-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.grid-image {
    position: relative;
}

.grid-image:hover .overlay {
    opacity: 1;
}

.grid-image:hover .overlay-big {
    opacity: 1;
}

.grid-image-small {
    height: 220px;
    width: 220px;
    object-fit: cover;
    background-repeat: no-repeat fixed;
}

.grid-image-big {
    height: 450px;
    width: 450px;
    object-fit: cover;
    background-repeat: no-repeat fixed;
}

/*===== Table & Checkout =====*/

.table,
.checkout {
    margin-bottom: 7rem;
}

/*===== Footer =====*/

#footer {
    overflow-x: hidden;
    background: #FBFBFE;
}

.footer-text {
    font-family: 'Roboto', sans-serif;
}

.list-unstyled li a {
    text-decoration: none;
}

#copyright {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

#copyright a {
    text-decoration: none;
    color: tomato;
}

/*===== Media Queries =====*/

/* Slightly larger container on xl screens */
@media (min-width: 1300px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* Ipad/Tablet Media Queries */
@media only screen and (min-device-width: 768px) {
    .container {
        min-width: 80% !important;
    }

    .card img {
        height: 150px;
        width: 20vw;
    }
} 

/*===== Mobiles =====*/
/* Media query from: https://css-tricks.com/snippets/css/media-queries-for-standard-devices/ */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .mobile-padding {
        margin-left: 3rem;
    }

    .heading-font {
        text-align: center;
    }

    .categories {
        margin-left: auto;
    }

    .card-horizontal .card img {
        height: 150px;
        width: 300px;
        object-fit: cover;
    }

    .card-horizontal .card {
        height: 300px;
        width: auto;
    }   
    
    .product-details-container {
        padding-left: 0;
    }
} 

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    body {
        height: calc(100vh - 116px);
    }
} 