@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Permanent+Marker&display=swap');

html {
    height: 100%;
}

body {
    background: url('/media/header.jpg') no-repeat top center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #000;
    font-family: 'Prompt', sans-serif;
    overflow-x: hidden;
}

p {
    font-weight: 300;
}

/* Dividers from Wrenna: https://fpvision.herokuapp.com/ */
.divider {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase;
    color: #7a7a7a;
    font-size: .75rem;
    font-weight: 600;
    letter-spacing: .5px;
    margin: 25px 0;
}

.divider::after, .divider::before {
    content: '';
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 1px;
    background-color: #dbdbdb;
}

.divider:not(.is-left)::before {
    margin-right: 10px;
}

.divider:not(.is-right)::after {
    margin-left: 10px;
}

.hero-container {
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%,-30%);
    transform: translate(-50%,-30%);
    font-size: 5rem;
}

.heading-font,
.logo-font {
    position: relative;
    bottom: 1rem;
    font-size: 6rem;
    font-family: 'Permanent Marker', sans-serif;
}

.heading-font {
    font-size: 2.5rem;
    font-weight: 500;
    font-family: 'Prompt', sans-serif;
}

.title-font {
    font-size: 1.3rem;
    font-weight: 500;
}

.box-shadow {
    box-shadow: 0px 8px 15px rgb(0 0 0 / 30%);
}

.box-shadow-light {
    box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
}

.box-shadow-very-light {
    box-shadow: 0px 8px 15px rgb(0 0 0 / 5%);
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
}

.text-shadow-blue {
    text-shadow: 3px 3px 3px rgba(25, 181, 254, 1);
}

.rounded-right {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.rounded-left {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.hover-tomato:hover {
    background: tomato;
}

/* Hover Animation Code from: https://github.com/IanLunn/Hover/blob/master/css/hover.css */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: black;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, 
.hvr-underline-from-center:focus:before, 
.hvr-underline-from-center:active:before {
    left: 20%;
    right: 20%;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.fas.fa-search:hover {
    color: white !important;
}

#button-addon2 {
    width: 70px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background: white;
    border: 1px solid #dee2e6!important;
    border-left: hidden;
}

#button-addon2:hover {
    background: #20c997!important;
    color: white !important; 
}

#product-options p {
    font-family: "Prompt", sans-serif;
    font-weight: 500;
}

.product-search {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.products.dropdown-menu.show {
    width: 65vw !important; 
    background-color: white !important;
    writing-mode: horizontal-tb;
    border-block-start: 2px solid grey;
    box-shadow: 0px 8px 15px rgb(0 0 0 / 30%);
}

.user-options.dropdown-menu.show,
.navbar-nav {
    border-block-start: 2px solid grey;
    box-shadow: 0px 8px 15px rgb(0 0 0 / 30%);
}

.dropdown-item {
    color: #6c757d;
}

/* Rotate Code: https://codepen.io/rezk/pen/PegNRY */
.rotate {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .2s linear;
}
.rotate.down {
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}

.main-logo-link {
    width: fit-content;
    text-decoration: none;
}

.navbar-toggler {
    padding: 0.25rem 0.25rem;
}

.navbar-nav {
    overflow-x: hidden;
    height: 100vh;
}

.shop-now-btn {
    position: relative;
    bottom: 3rem;
    color: white;
    min-width: 200px;
}

.btn-main:hover {
    background: #fff !important;
    color: #000 !important;
}

.btn-success,
.btn-info:hover,
.btn-black:hover {
    background: #20c997 !important;
}

.btn-success:hover {
    background: green !important;
}

.btn-black {
    background: black;
    color: white;
}

.bg-white {
    color:white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.border-black {
    border: 1px solid black !important;
}

.rounded-circle {
    height: auto;
    width: 39px;
}

.card img {
    height: 150px;
    width: 100vw;
    object-fit: cover;
}

.card:hover {
    cursor: pointer;
}

.btt-button {
    height: 52px;
    width: 52px;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.text-tomato {
    color: tomato;
}

.bg-tomato {
    background: tomato !important;
}

.text-success {
    color: #20c997 !important;
}

.bg-success {
    background: #20c997 !important;
}

.hover-text-success:hover {
    color: #20c997 !important;
}

.hover-success:hover {
    background: #20c997 !important;
    border-color: transparent;
}

.hover-tomato:hover {
    background: tomato !important;
    border-color: transparent;
}

.hover-text-tomato:hover {
    color: tomato !important;
}

.card {
    display: inline-block;
    min-width: 220px;
    max-width: 220px;
}

#delivery-banner h4 {
    font-size: .9rem;
} 

.white-space-pre-line {
    white-space: pre-line;
    overflow-x: hidden;
    overflow-y: scroll;
}


/*===== Toasts =====*/

.message-container {
    position: fixed;
    top: 55px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
    z-index: 100;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 21px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #20c997 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.basket-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.dropdown-item:focus {
    background: none;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/*===== Allauth form formatting =====*/

.allauth-form-inner-content {
    margin-bottom: 5rem;
}

.allauth-form-inner-content p {
    margin-top: 1.5rem; 
    color: #6c757d;
}

.allauth-form-inner-content input {
    box-sizing: border-box;
    height: auto;
    padding: 10px 12px;
    border: 1px solid whitesmoke;
    border-radius: 75px;
    background-color: white;
    box-shadow: 0 3px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #0dcaf0;
    border: 0;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #000;
}

.allauth-form-inner-content .form-check-label {
    padding-top: 5px;
}

.allauth-form-inner-content > .display-1 {
    margin-top: 7rem;
    font-size: 4em;
}

/*===== Products =====*/

.header-padding {
    padding-top: 100px;
}

.secondary-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.products-row,
.product-row {
    padding-bottom: 7rem;
}

.sort-wrapper {
    margin-left: 1rem;
}

.sort-container {
    margin-top: 1.5rem;
}

.card-body p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*===== Edit Details =====*/

.description-container {
    padding: 0 25px;
}

/*===== New Arrivals =====*/

.new-arrivals {
    margin-top: 100vh; 
    padding: 3rem 0 6rem 0;
}

.new-arrivals .card {
    margin: 20px 20px !important;
}

/*===== Horizontal Scroll =====*/

.horizontal-scroll {
    padding-bottom: 7rem;
    overflow-x: auto;
}

#scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    flex-direction: row;
}

#scrolling-wrapper {
    -webkit-overflow-scrolling: touch;
}

.card:hover {
    box-shadow: 0px 8px 15px rgb(0 0 0 / 15%);
    border: 0;
}

#next-btn, #prev-btn {
    height: 48px;
    width: 50px;
}

/*===== Basket Table & Checkout =====*/

.table,
.checkout {
    margin-bottom: 6rem;
}

/*===== Footer =====*/

#footer {
    overflow-x: hidden;
    background: #FBFBFE;
}

.footer-text {
    font-family: 'Roboto', sans-serif;
}

.list-unstyled li a {
    text-decoration: none;
}

#copyright {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

#copyright a {
    text-decoration: none;
    color: tomato;
}

/*===== Media Queries =====*/

/* Slightly larger container on xl screens */
@media (min-width: 1300px) {
    .container {
        max-width: 80%;
    }

    .arrow-up {
        display: none;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }

    .allauth-form-inner-content input {
        width: 50vw;
        margin: 0 20vw;
    }

    #id_remember {
        width: auto;
        margin: 4px 0;
    }

    .arrow-up {
        display: none;
    }
}

/* Ipad/Tablet Media Queries */
@media only screen and (min-device-width: 768px) {
    .container {
        min-width: 80% !important;
    }

    .card img {
        height: 150px;
        width: 100%;
    }

    .product-details-container {
        padding-left: 3rem;
    }

    .allauth-form-inner-content > .display-1 {
        margin-top: 0;
    }

    .quantity,
    .update-link {
        padding-left: 2rem;
    }
} 

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .grid-image-small,
    .grid-image-big {
        height: 60vh;
        width: 70vw;
    }

    .allauth-form-inner-content {
        margin: 6rem 0;
    }

    .update-form {
        padding: 0 5px !important;
    }
}

/*===== Mobiles =====*/
/* Media query from: https://css-tricks.com/snippets/css/media-queries-for-standard-devices/ */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .arrow-up {
        right: 21px;
    }

    .btn-checkout {
        margin-top: 1rem;
    }

    .categories {
        margin-left: auto;
    }

    .card-horizontal .card img {
        height: 150px;
        width: 300px;
        object-fit: cover;
    }

    .card-horizontal .card {
        height: 300px;
        width: auto;
    }  

    .card {
        min-width: 100%;
    }

    .card img {
        height: 40vh;
    }

    .grid-image-small,
    .grid-image-big {
        height: 60vh;
        width: 90vw;
        transform: translateX(-10px);
    }

    .grid-image .grid-image-big {
        margin-bottom: 8px;
    }

    .heading-font {
        text-align: center;
    }

    .input-group-prepend,
    .input-group-append {
       display: none;
    }

    .mobile-padding {
        margin-left: 3rem;
    }

    .overlay, .overlay-big {
        width: 105%;
    }

    #profile-update-form {
        margin-left: 0!important;
    }

    .quantity {
        padding-left: 0.8rem !important;
    }

    .remove-item {
        padding-right: 0;
    }

    .sort-container {
        margin-top: 0 !important;
    }

    .update-link {
        padding-left: 1.5rem;
    }

    .update-form {
        padding: 0 5px;
    }

    .new-arrivals .card {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    body {
        height: calc(100vh - 116px);
    }
} 