    <!-- Footer Text -->
    <div class="row">
        <div class="col-md-4 col-sm-12 mb-4 mb-md-0">
          <h5 class="text-dark">Who we are</h5>
          <div class="divider"><i class="fas fa-users"></i></div>
          <p class="footer-text">
            We are an e-commerce store that specialises in selling popular or branded sneakers. 
            <br><br>
            Thank you for choosing to shop with us. Support our work on social media and sign up to our newsletter to 
            get the most up to date deals in this space.
          </p>
        </div>

        <div class="col-md-4 col-sm-12 mb-4 mb-md-0">
          <h5 class="text-dark">Newsletter</h5>
          <div class="divider"><i class="fas fa-envelope"></i></div>
          <p class="footer-text">
            Enter your email to subscribe to our newsletters for special deals, discounts and
            new released products.
          </p>
          <!-- Footer Form --> 
          <form action="">
            <div class="row d-flex justify-content-center">
              <div class="col-12">
                <div class="form-outline form-white mb-4">
                  <input type="email" id="emailFooterInput" class="form-control rounded-pill" placeholder="Email Address"/>
                </div>
              </div>
              <div class="row d-flex justify-content-center">
                <div class="col-auto">
                  <button type="submit" class="btn btn-main btn-info text-light btn-outline-light mb-4 rounded-pill">
                    <i class="fas fa-rss"></i>
                    Subscribe
                  </button>
                </div>
              </div>
            </div>
          </form>
          <!-- End Form -->
        </div>

        <div class="col-md-4 col-sm-12 mb-4 mb-md-0">
          <h5 class="text-dark">Support Us</h5>
          <div class="divider"><i class="fas fa-hands-helping"></i></div>
          <p class="footer-text">
            Give us a shout out, add us on social media. We are open to 
            all customer service and collaboration opportunities!
          </p>
          <!-- Social media -->
              <a class="btn btn-outline-info btn-floating m-1 rounded-circle" href="https://www.facebook.com/" 
                target="_blank" role="button"><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-outline-info btn-floating m-1 rounded-circle" href="https://twitter.com/?lang=en" 
                target="_blank" role="button"><i class="fab fa-twitter"></i></a>
              <a class="btn btn-outline-info btn-floating m-1 rounded-circle" href="https://www.tiktok.com/" 
                target="_blank" role="button"><i class="fab fa-tiktok"></i></a> 
              <a class="btn btn-outline-info btn-floating m-1 rounded-circle" href="https://www.instagram.com/" 
                target="_blank" role="button"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
    
      <!-- Copyright -->
    <div class="text-center text-secondary my-5">
      <span class="mb-5" id="copyright">© 2021 Copyright | Developed by 
        <a href="https://github.com/wyne-ybanez" target="_blank">Wyne Ybanez</a>
      </span>
    </div>