<!-- Horizontal Scroll -->
<div class="container-fluid w-100 mb-0">
    <section>
        <div class="row">
            <!-- Just In -->
            <div class="col-12 bg-white horizontal-scroll">
                <div class="container">
                    <div class="d-flex">
                        <h1 class="text-dark pt-5 flex-grow-1">Just In.</h1>
                        <!-- Buttons -->
                        <div class="buttons d-none d-lg-block">
                            <button id="prev-btn" class="btn btn-outline-dark mt-5 rounded-circle">
                                <i class="fas fa-chevron-left"></i>
                            </button>
                            <button id="next-btn" class="btn btn-outline-dark mt-5 rounded-circle" style="margin-left: 25px">
                                <i class="fas fa-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                    <!-- Cards -->
                    <div id="scrolling-wrapper">
                        <div class="cards d-flex flex-row">
                            {% for product in products %}
                            <!-- col-xs-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 -->
                                <div class="card-horizontal">
                                    {% include 'includes/products-card.html' %}       
                                </div>                    
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Cards end -->
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Horizontal Scroll Script -->
<script>
(function(w){
    w.addEventListener('load', function(){
        const leftBtn = document.getElementById('prev-btn'),
                rightBtn = document.getElementById('next-btn'),
                content = document.getElementById('scrolling-wrapper');
        const content_scroll_width = content.scrollWidth;
        let content_scroll_left = content.scrollLeft;
                    
        leftBtn.disabled = true;

        rightBtn.addEventListener('click', () => {
            content_scroll_left += 100;
            if (content_scroll_left >= content_scroll_width) { 
                content_scroll_left = content_scroll_width; 
            }
            content.scrollLeft = content_scroll_left;
            leftBtn.disabled = false;
        });

        leftBtn.addEventListener('click', () => {
            content_scroll_left -= 100;
            if (content_scroll_left <= 0) {
                content_scroll_left = 0;
                leftBtn.disabled = true;
            }
            content.scrollLeft = content_scroll_left;
        });
    });
})(window);
</script>