<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav border-rounded w-auto mx-auto" style="background-color:white;">
        <!-- Sort By -->
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-dark mr-5 px-3 mt-3" href="#" id="all-products-link" 
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort By
                <i class="fas fa-chevron-right rotate"></i>
            </a>
            <div class="dropdown-menu border-0 px-5" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item text-dark fw-light">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item text-dark fw-light">By Ratings</a>
                <a href="{% url 'products' %}?sort=name&direction=asc" class="dropdown-item text-dark fw-light">By Name</a>
                <a href="{% url 'products' %}?sort=stock&direction=desc" class="dropdown-item text-dark fw-light">All Products</a>
            </div>
            <hr class="text-secondary">
        </li>
        <!-- Brands -->
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-dark mr-5 px-3" href="#" id="clothing-link" 
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Brands
                <i class="fas fa-chevron-right rotate"></i>
            </a>
            <div class="dropdown-menu border-0 px-5 text-secondary" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?brand=nike" class="dropdown-item text-dark fw-light">Nike</a>
                <a href="{% url 'products' %}?brand=adidas" class="dropdown-item text-dark fw-light">Adidas</a>
                <a href="{% url 'products' %}?brand=fila" class="dropdown-item text-dark fw-light">Fila</a>
                <a href="{% url 'products' %}?brand=converse" class="dropdown-item text-dark fw-light">Converse</a>
                <a href="{% url 'products' %}?brand=new_balance" class="dropdown-item text-dark fw-light">New Balance</a>
            </div>
            <hr class="text-secondary">
        </li>
        <!-- Deals -->
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-dark mr-5 px-3" href="#" id="homeware-link" 
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
                <i class="fas fa-chevron-right rotate"></i>
            </a>
            <div class="dropdown-menu border-0 px-5 text-secondary" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=men" class="dropdown-item text-dark fw-light">Men</a>
                <a href="{% url 'products' %}?category=women" class="dropdown-item text-dark fw-light">Women</a>
                <a href="{% url 'products' %}?category=kids" class="dropdown-item text-dark fw-light">Kids</a>
                <a href="{% url 'products' %}?category=discounted" class="dropdown-item text-dark fw-light">Discounted</a>
            </div>
            <hr class="text-secondary">
        </li>
        <!-- Accessories -->
        <li class="nav-item dropdown" style="margin-bottom: 5rem;">
            <a class="font-weight-bold nav-link text-dark px-3" href="#" id="specials-link" 
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
                <i class="fas fa-chevron-right rotate"></i>
            </a>
            <div class="dropdown-menu border-0 px-5" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=accessories,socks" class="dropdown-item text-dark fw-light">Socks</a>
                <a href="{% url 'products' %}?category=accessories,bags" class="dropdown-item text-dark fw-light">Bags</a>
                <a href="{% url 'products' %}?category=accessories,caps" class="dropdown-item text-dark fw-light">Caps</a>
                <a href="{% url 'products' %}?category=accessories,equipment" class="dropdown-item text-dark fw-light" 
                    style="margin-bottom: 4rem;">Gym Equipment</a>
            </div>
        </li>
    </ul>
</div>
