<!-- Logo -->
<div class="mx-auto text-center">
    <a href="{% url 'home' %}" class="main-logo-link">
        <h2 class="text-dark mt-0 fs-5 mobile-padding mb-1 sticky-top">Sneak'rHeads</h2>
    </a>
</div>

<ul class="mb-1">
    <!-- Account Drop down -->
    <li class="list-inline-item dropdown sticky-top">
        <a class="text-dark nav-link d-block d-lg-none px-0" href="#" id="user-options" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="text-center">
                <i class="fas fa-user-circle fa-lg"></i>
            </div>
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="user-options" style="transform: translateX(-97px);">
            {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                    <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                {% endif %}
                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
            {% else %}
                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
            {% endif %}
        </div>
    </li>

    <!-- Shopping basket -->
    <li class="list-inline-item">
        <div class="position-relative">
            <a class="{% if grand_total %}text-tomato font-weight-bold{% else %}text-dark{% endif %} nav-link d-block d-lg-none
                py-0 end-0 text-center" href="{% url 'view_basket' %}">
                <div class="text-center pr-3">
                    <i class="fas fa-shopping-basket fa-lg"></i>
                </div>
            </a>
        </div>
    </li>
</ul>