<div class="products dropdown-menu border-rounded mt-1 pb-3" aria-labelledby="product-options">
    <div class="container">
        <div class="row">
          <div class="col-3 nav-item">
            <a href="#" class="dropdown-item h5">
              Sort
              <hr class="my-2">
            </a>
            <div class="brand-items">
                <a href="#" class="dropdown-item text-secondary">Nike</a></li>
                <a href="#" class="dropdown-item text-secondary">Nike</a></li>
                <a href="#" class="dropdown-item text-secondary">Nike</a></li>
                <a href="#" class="dropdown-item text-secondary">Nike</a></li>
            </div>
          </div>
          <div class="col-3 nav-item">
            <a href="#" class="dropdown-item h5">
              Deals
              <hr class="my-2">
            </a>
            <div class="deal-items">
                <a href="#" class="dropdown-item text-secondary">Nike</a></li>
                <a href="#" class="dropdown-item text-secondary">Nike</a></li>
                <a href="#" class="dropdown-item text-secondary">Nike</a></li>
                <a href="#" class="dropdown-item text-secondary">Nike</a></li>
            </div>
          </div>             
          <div class="col-3 nav-item">
            <a href="#" class="dropdown-item h5">
              Brands
              <hr class="my-2">
            </a>
            <div class="brand-items">
                <a href="#" class="dropdown-item text-secondary">Nike</a></li>
                <a href="#" class="dropdown-item text-secondary">Nike</a></li>
                <a href="#" class="dropdown-item text-secondary">Nike</a></li>
                <a href="#" class="dropdown-item text-secondary">Nike</a></li>
            </div>
          </div>
          <div class="col-3 nav-item">
            <a href=#" class="dropdown-item h5">
              Accessories
              <hr class="my-2">
            </a>
            <div class="other-items">
                <a href="#" class="dropdown-item text-secondary">Nike</a></li>
                <a href="#" class="dropdown-item text-secondary">Nike</a></li>
                <a href="#" class="dropdown-item text-secondary">Nike</a></li>
                <a href="#" class="dropdown-item text-secondary">Nike</a></li>
            </div>
          </div>
        </div>
    </div>
</div>