<div class="card border rounded-3 my-2">
    <!-- Product Image -->
    {% if product.image %}
    <a href="{% url 'product_detail' product.id %}">
        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
    </a>
    {% else %}
    <a href="{% url 'product_detail' product.id %}">
        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
    </a>
    {% endif %}
    <!-- Product Name -->
    <div class="card-body pb-0">
        <p class="lead mb-2 fw-light text-dark">{{ product.name }}</p>
    </div>
    <!-- Product Footer -->
    <div class="card-footer bg-white pt-0 border-0 text-left">
        <div class="row">
            <div class="col">
                <p class="lead mb-0 text-left text-dark">€{{ product.price }}</p>
                {% if product.rating %}
                    <small class="text-dark"><i class="fas fa-star mr-1 text-dark"></i>{{ product.rating }} / 5</small>
                {% else %}
                    <small class="text-dark">No Rating</small>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-2">
                {% if product.stock > 0 %}
                <div class="stock fw-light text-success" name="stock-amount">
                    Available
                </div>
                {% endif %}                      
                {% if product.stock <= 0 %}
                <div class="stock fw-light text-danger" name="stock-amount">
                    Unavailable
                </div>
                {% endif %}                   
            </div>
        </div>
    </div>
</div>

