<div class="products dropdown-menu border-rounded mt-1 pb-3" aria-labelledby="product-options">
    <div class="container">
        <div class="row">
          <div class="col-3 nav-item">
            <a href="#" class="dropdown-item h5">
              Sort By
              <hr class="my-2">
            </a>
            <div class="sort-items">
                <a href="#" class="dropdown-item text-secondary">A-Z</a></li>
                <a href="#" class="dropdown-item text-secondary">Ratings</a></li>
                <a href="#" class="dropdown-item text-secondary">Price</a></li>
                <a href="#" class="dropdown-item text-secondary">Category</a></li>
                <a href="#" class="dropdown-item text-secondary">Brand</a></li>
            </div>
          </div>
          <div class="col-3 nav-item">
            <a href="#" class="dropdown-item h5">
              Brands
              <hr class="my-2">
            </a>
            <div class="brand-items">
                <a href="#" class="dropdown-item text-secondary">Nike</a></li>
                <a href="#" class="dropdown-item text-secondary">Adidas</a></li>
                <a href="#" class="dropdown-item text-secondary">Fila</a></li>
                <a href="#" class="dropdown-item text-secondary">Converse</a></li>
                <a href="#" class="dropdown-item text-secondary">New Balance</a></li>
            </div>
          </div>             
          <div class="col-3 nav-item">
            <a href="#" class="dropdown-item h5">
              Deals
              <hr class="my-2">
            </a>
            <div class="deal-items">
                <a href="#" class="dropdown-item text-secondary">Discounted</a></li>
                <a href="#" class="dropdown-item text-secondary">Half Price</a></li>
                <a href="#" class="dropdown-item text-secondary">Kids Products</a></li>
                <a href="#" class="dropdown-item text-secondary">Brand Discounts</a></li>
            </div>
          </div>
          <div class="col-3 nav-item">
            <a href=#" class="dropdown-item h5">
              Accessories
              <hr class="my-2">
            </a>
            <div class="accessories-items">
                <a href="#" class="dropdown-item text-secondary">Socks</a></li>
                <a href="#" class="dropdown-item text-secondary">Bags</a></li>
                <a href="#" class="dropdown-item text-secondary">Caps</a></li>
                <a href="#" class="dropdown-item text-secondary">Gym Equipment</a></li>
            </div>
          </div>
        </div>
    </div>
</div>