<div class="products dropdown-menu border-rounded mt-1 pb-3" aria-labelledby="product-options">
    <div class="container">
        <div class="row">
          <div class="col-3 nav-item">
            <a href="#" class="dropdown-item h5 text-dark">
              Sort By
              <hr class="my-2">
            </a>
            <div class="sort-items">
                <a href="#" class="dropdown-item text-dark fw-light">A-Z</a></li>
                <a href="#" class="dropdown-item text-dark fw-light">Ratings</a></li>
                <a href="#" class="dropdown-item text-dark fw-light">Price</a></li>
                <a href="#" class="dropdown-item text-dark fw-light">Category</a></li>
                <a href="#" class="dropdown-item text-dark fw-light">Brand</a></li>
            </div>
          </div>
          <div class="col-3 nav-item">
            <a href="#" class="dropdown-item h5 text-dark">
              Brands
              <hr class="my-2">
            </a>
            <div class="brand-items">
                <a href="#" class="dropdown-item text-dark fw-light">Nike</a></li>
                <a href="#" class="dropdown-item text-dark fw-light">Adidas</a></li>
                <a href="#" class="dropdown-item text-dark fw-light">Fila</a></li>
                <a href="#" class="dropdown-item text-dark fw-light">Converse</a></li>
                <a href="#" class="dropdown-item text-dark fw-light">New Balance</a></li>
            </div>
          </div>             
          <div class="col-3 nav-item">
            <a href="#" class="dropdown-item h5 text-dark">
              Deals
              <hr class="my-2">
            </a>
            <div class="deal-items">
                <a href="#" class="dropdown-item text-dark fw-light">Discounted</a></li>
                <a href="#" class="dropdown-item text-dark fw-light">Half Price</a></li>
                <a href="#" class="dropdown-item text-dark fw-light">Kids Products</a></li>
                <a href="#" class="dropdown-item text-dark fw-light">Brand Discounts</a></li>
            </div>
          </div>
          <div class="col-3 nav-item">
            <a href=#" class="dropdown-item h5 text-dark">
              Accessories
              <hr class="my-2">
            </a>
            <div class="accessories-items">
                <a href="#" class="dropdown-item text-dark fw-light">Socks</a></li>
                <a href="#" class="dropdown-item text-dark fw-light">Bags</a></li>
                <a href="#" class="dropdown-item text-dark fw-light">Caps</a></li>
                <a href="#" class="dropdown-item text-dark fw-light">Gym Equipment</a></li>
            </div>
          </div>
        </div>
    </div>
</div>