{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="header-padding w-100">
        <div class="row g-0">
            <div class="col mx-5">
                <h1 class="heading-font text-dark mt-3 pt-5 mx-5">
                    Error 500.
                </h1>
                <hr class="text-secondary">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="secondary-overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col" style="margin-bottom: 5rem;"> 
                <p class="lead mb-5">We're sorry but there was an error with your request.</p>
                <a href="{% url 'home' %}" class="btn rounded-pill btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    Go Back
                </a>
            </div>
        </div>
    </div>        
{% endblock %}