{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="header-padding w-100">
        <div class="row g-0">
            <div class="col mx-5">
                <h1 class="heading-font text-dark mt-3 pt-5 mx-5">
                    Product Management.
                </h1>   
                <p class="text-muted mx-5 fs-4">Add a product to your collection</p>
                <hr class="text-secondary">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="secondary-overlay"></div>
    <div class="container">
        <div class="row" style="margin-bottom: 6rem;">
            <div class="col-12 col-md-6">
                <p class="fs-3 fw-normal text-dark text-center mt-4">Current Products</p>
                <p class="text-dark fs-5 fw-normal pt-4">In Stock: <span class="text-success">{{ products_in_stock|length }}</span></p>
                <p class="text-dark fs-5 fw-normal">Out of Stock: <span class="text-tomato">{{ products_out_of_stock|length }}</span></p>
                    <hr clas="text-secondary">
                <p class="text-dark fs-5 fw-normal">Featured Products: {{ featured|length }}</span></p>
                <p class="text-dark fs-5 fw-normal">New Arrivals: {{ new_arrivals|length }}</span></p>
                <p class="text-dark fs-5 fw-normal">Brand Items: {{ brand_item|length }}</span></p>
                <p class="text-dark fs-5 fw-normal">Five-Star Rated: {{ five_star_product|length }}</span></p>
                    <hr clas="text-secondary">
                <p class="text-dark fs-5 fw-normal">All Products: {{ products|length }}</p>
            </div>
            <div class="col-12 col-md-6">
                <p class="fs-3 fw-normal text-dark text-center mt-4">Add Product</p>
                <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right">
                        <a class="btn btn-outline-dark hover-tomato rounded-pill" href="{% url 'products' %}">Cancel</a>
                        <button class="btn btn-dark rounded-pill hover-success" type="submit">Add Product</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}