{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="header-padding w-100">
        <div class="row g-0">
            <div class="col mx-5">
                <h1 class="heading-font text-dark mt-3 pt-5 mx-5">
                    Product Management.
                </h1>   
                <p class="text-muted mx-5 fs-4">Edit a Product</p>
                <hr class="text-secondary">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="secondary-overlay"></div>
    <div class="container">
        <div class="row" style="margin-bottom: 6rem;">

            <!-- Product Description -->
            <div class="col-12 col-md-6 fs-6">
                <div class="description-container">

                    <div class="product-name">
                        <p class="text-dark">
                            <strong class="fs-5">Name:</strong>
                            {{ product.name }}
                        </p>
                    </div>

                    <div class="image-container">
                        {% if product.image %}
                            <p class="fs-5 fw-normal mb-0">Image:</p>
                            <a href="{{ product.image.url }}" target="_blank">
                                <img class="card-img-top img-fluid product-detail-image" src="{{ product.image.url }}" alt="{{ product.name }}">
                            </a>
                            {% else %}
                            <a href="">
                                <img class="card-img-top img-fluid product-detail-image" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                            </a>
                        {% endif %}
                    </div>

                    <div class="details-container mt-3">
                        <p class="fs-5 fw-normal mb-0">Description:</p>
                        <p class="fw-light">{{ product.description }}</p>
                        <div class="product-details">
                            <p class="fs-5 fw-normal mb-0">Details:</p>
                            <p class="mb-0">${{ product.price }}</p>
                            {% if product.stock > 0 %}
                                <p class="stock fw-light text-success">
                                    Available
                                </p>
                            {% endif %}                      
                            {% if product.stock <= 0 %}
                                <p class="stock fw-light text-danger">
                                    Unavailable
                                </p>
                            {% endif %}    
                            {% if product.category %}
                                <p class="small mt-1 mb-0">
                                    <a class="text-muted text-decoration-none" href="{% url 'products' %}?category={{ product.category.name }}">
                                        <i class="fas fa-tag fa-lg text-dark me-2"></i>
                                        <span class="fw-light fs-5 text-dark">{{ product.category.friendly_name }}</span>
                                    </a>
                                </p>
                            {% endif %}     
                            {% if product.rating %}
                                <p class="text-dark fw-normal mt-2">
                                    <i class="fas fa-star fa-lg me-1"></i>
                                    {{ product.rating }} / 5
                                </p>
                            {% else %}
                                <p class="text-dark">No Rating</p>
                            {% endif %}
                        </div>   
                    </div>  
                
                </div>
            </div>

            <!-- Edit Form -->
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right">
                        <a class="btn btn-outline-dark rounded-pill hover-tomato" href="{% url 'products' %}">Cancel</a>
                        <button class="btn btn-dark hover-success rounded-pill" type="submit">Update Product</button>
                    </div>
                </form>
            </div>             
        </div>
    </div>
{% endblock %}