{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="products-header w-100">
        <div class="row">
            <div class="col">
                <h1 class="heading-font text-dark mt-3 pt-5 px-5 fw-normal">
                    All Products.
                </h1>
                <div class="d-flex flex-wrap">
                    <a href=""><p class="text-dark px-5 fs-3 fw-normal" style="font-display: none;">Something</p></a>
                    <a href=""><p class="text-dark px-5 fs-3 fw-normal" style="font-display: none;">Something</p></a>
                    <a href=""><p class="text-dark px-5 fs-3 fw-normal" style="font-display: none;">Something</p></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="products-overlay"></div>
    <div class="container-fluid">
        <div class="row">

            <!-- Categories -->
            <div class="categories-container col-lg-3 col-md-2 col-sm-0 mt-5">
                
            </div>

            <!-- Products -->
            <div class="product-container d-lg-flex d-md-flex col-lg-9 col-md-10 col-sm-12 mt-5">
                {% for product in products %}
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                    <div class="card border rounded-3 h-100 mx-3 my-3">
                        <!-- Product Image -->
                        {% if product.image %}
                        <a href="#">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="#">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                        {% endif %}
                        <!-- Product Name -->
                        <div class="card-body pb-0">
                            <p class="mb-2">{{ product.name }}</p>
                        </div>
                        <!-- Product Footer -->
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                                    {% if product.category %}
                                    <p class="small mt-1 mb-0">
                                        <a class="text-muted" href="#">
                                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                        </a>
                                    </p>
                                    {% endif %}
                                    {% if product.rating %}
                                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                    {% else %}
                                        <small class="text-muted">No Rating</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include 'includes/horizontal-scroll.html' %}
{% endblock %}

{% block postloadjs %}
{% endblock %}