{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="header-padding w-100">
        <div class="row g-0">
            <div class="col mx-5">
                <h1 class="heading-font text-dark mt-3 pt-5 mx-5">
                    All Products.
                </h1>   
                {% include 'includes/sort_display.html' %}
                <hr class="text-secondary">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="secondary-overlay"></div>
    <div class="container-fluid">
        <div class="row products-row">

            <!-- Mobile Search Bar -->
            <div class="d-md-none d-sm-block col-12 mt-5">
                <div class="container">
                    <form method="GET" action="{% url 'products' %}">
                        <div class="input-group w-100">
                        <input class="form-control border product-search fs-6 fw-light" type="text" name="q" placeholder="Browse Products">
                        <button class="btn text-dark" type="submit" id="button-addon2">
                            <i class="fas fa-search"></i>
                        </button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Sorting container -->
            <div class="sort-container col-lg-3 col-md-4 col-sm-12 pt-3">
                <div class="container sorting-wrapper rounded-3 box-shadow-light py-5 d-xs-none">
                    <!-- Sort Checkbox -->
                    <form id="sorting-form" method="GET" action="{% url 'products' %}">
                        <p class="fs-6 fw-normal text-dark text-uppercase">Sort By</p> 
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="price_asc" id="price_sort" 
                                onclick="updateFilter()"
                                {% if current_sorting == 'price_asc' %}
                                    checked
                                {% endif %}>
                            <label class="form-check-label fw-light text-secondary" for="price_sort">
                                Price
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="rating_desc" id="discounted" 
                                onclick="updateFilter()"
                                {% if current_sorting == 'rating_desc' %}
                                    checked
                                {% endif %}>
                            <label class="form-check-label fw-light text-secondary" for="discounted">
                                Rating
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="name_asc" id="sneakerCategory"
                                onclick="updateFilter()"
                                {% if current_sorting == 'name_asc' %}
                                    checked
                                {% endif %}>
                            <label class="form-check-label fw-light text-secondary" for="sneakerCategory">
                                Alphabetical (A-Z)
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="name_desc" id="shoeAccessories"
                                onclick="updateFilter()"
                                {% if current_sorting == 'name_desc' %}
                                    checked
                                {% endif %}>
                            <label class="form-check-label fw-light text-secondary" for="shoeAccessories">
                                Reverse Alphabetical (Z-A)
                            </label>
                        </div>
                        <!-- Stock Checkboxes -->
                        <p class="fs-6 fw-normal text-dark text-uppercase pt-3">Stock</p> 
                        <div class="form-check">
                            <input class="stock-check form-check-input" type="checkbox" value="in_stock" name="in_stock" id="inStockItems" 
                                onclick="updateStockFilter()"
                                {% if stock == True %}
                                    checked
                                {% endif %}>
                            <label class="form-check-label fw-light text-secondary" for="inStockItems">
                                In Stock
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="stock-check form-check-input" type="checkbox" value="no_stock" name="no_stock" id="outOfStockItems"
                                onclick="updateStockFilter()"
                                {% if stock == False %}
                                    checked
                                {% endif %}>
                            <label class="form-check-label fw-light text-secondary" for="outOfStockItems">
                                Out of Stock
                            </label>
                        </div>
                        <!-- Price -->
                        <p class="fs-6 fw-normal text-dark pt-3">
                            PRICE RANGE 
                            <span class="fw-light text-dark" id="Range"></span>
                        </p> 
                        <input type="range" class="form-range" min="0" max="500" id="priceRange" name="priceRange" 
                            oninput="filterPriceRange(this.value)" onchange="filterPriceRange(this.value)">
                        <label for="priceRange" class="form-label fw-lighter">Min Price €0 - Max Price €500 </label>
                        <div class="row">
                            <div class="col-12">
                                <p class="text-center">
                                    <a href="{% url 'products' %}" 
                                    class="rounded-pill btn btn-main bg-dark text-light box-shadow mt-3 mb-0">
                                        Reset Filters
                                    </a>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Products -->
            <div class="product-container col-lg-9 col-md-8 col-sm-12 mt-5">
                <div class="row">
                    <div class="col-12 search-term-text px-3 h-0">
                        <p class="text-dark pb-0 mt-3 text-md-left fw-normal">
                            {{ products|length }} Product(s)
                            {% if stock == False %}
                                    Out of stock
                            {% endif %}
                            {% if search_term %} 
                                found for <strong class="text-dark">
                                "{{ search_term }}"</strong>
                            {% endif %} 
                        </p>
                    </div>
                </div>
                <div class="row px-2">
                {% for product in products %}
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 d-lg-flex d-md-flex d-sm-flex flex-wrap 
                        justify-content-center">
                    {% include 'includes/products-card.html' %}
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="btt-button shadow-sm rounded-0 bg-light">
        <a id="btt-link" class="d-flex h-100 text-decoration-none box-shadow-light">
            <i class="fas fa-arrow-up text-dark mx-auto my-auto"></i>
        </a>	
    </div>

    <div class="featured">
        {% include 'includes/horizontal-scroll.html' %}
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script type="text/javascript" src="{% static 'js/product_page.js' %}"></script>
{% endblock %}